@charset "utf-8";
/*.welcome .container {width:100%;background:url(../images/background.png) no-repeat;z-index: -99;background-size:cover ;*/
/*}*/
.nav {border:1px solid transparent;
    }
.nav_left {float:left;
    width:101px;height:133px;
    background:url(../images/nav.png) no-repeat;

    margin-bottom: 20px;
}
.nav_right {float:right;width:120px;height:40px;margin-top: 20px;}
.nav_right img {float:right;width:41px;height:35px;margin:5px;}

.container_content {

    /*background:url(../images/light-1.png) center top no-repeat;background-position-y:14px ;background-position-x:-10px;*/
    /*height:478px;*/
}
/*.regular {width:1200px;border:1px solid transparent;*/
    /*margin: 0 auto;}*/

.banner {
    float: left;
    /*background:url(../images/bigbanner.png) no-repeat;*/
    width:1200px;
    height:418px;
    z-index: 0;
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
}
/*.aside_left{*/
    /*position: absolute;*/
    /*/!*background:url(../images/meun.png) no-repeat;*!/*/
    /*width: 200px;*/
    /*height: 650px;*/
    /*margin-top:130px;*/
    /*margin-left: -50px;*/
   /*background-color: #424242;*/
    /*border-radius:20px 20px 0 20px ;*/
    /*z-index: 1;*/

/*}*/
.aside_right{
    background:url(../images/register-1.png) no-repeat;
    width: 279px;
    height: 418px;
    z-index: -1;
    float: right;
    margin-top: -380px;
    margin-right: -166px;
}
.news {
    position: relative;
    background:url(../images/news.png) no-repeat;
    width: 719px;
    height: 55px;
    z-index: 50;
    float: left;
    margin-top: -93px;
    margin-left: 150px;
}
.serve {
    background:url(../images/servise.png) no-repeat;
    width:333px;
    height: 370px;
    z-index: 70;
    float: right;
    margin-top: -488px;
    margin-right: -20px;
    /*margin-left: -130px;*/
    position: relative;

}
.map {
    /*background:url(../images/map-background.png) no-repeat;*/
    width:900px;
    height: 500px;
    float: left;
    /*margin-top: -370px;*/
   margin-left: 150px;
    margin-top: -50px;
    z-index: 0;
    background-color: #353535;
    border-radius:0 0 20px 20px;

}

/*.share img {margin:15px;}*/
/*.aside_left ul {margin-top: 50px;}*/
/*.aside_left ul li{*/
    /*text-align: center;*/
    /*margin-top: 15px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*background:url(../images/point-2.png) right  no-repeat;*/
    /*background-position: 170px 10px;*/
/*}*/
/*.aside_left ul li.active {background:url(../images/point.png) right  no-repeat;background-position: 170px 10px;}*/
/*.aside_left ul li:hover {background:url(../images/point.png) right  no-repeat;background-position: 170px 10px;}*/
/*.aside_left ul li a {*/
    /*width:160px;*/
    /*display: block;*/
    /*height:30px;*/
    /*line-height: 30px;*/
    /*color: #ffffff;*/
    /*text-align: right;*/
/*}*/
.aside_right>div{
    width:150px;
    height:280px;
    text-align: center;
    margin: 50px auto;
}
/*.login{margin-top: 30px;margin-left: 30px;}*/
/*.login>h1{font-size: 18px;color: #ffffff;text-align: center }*/
/*.login p {width:90px;height: 32px;border:1px solid #fff;border-radius: 8px;padding-top: 5px;*/
    /*margin: 15px auto;font-size: 16px;}*/

/*.color::-webkit-input-placeholder{color: #fff;text-align: center}*/
/*.color::-moz-placeholder{color: #fff;text-align: center}*/
/*.value {color:#67D0A7}*/
/*.login input[type="submit"]{margin-left:40px;}*/
.news h2 {font-size: 18px;margin-left:20px;margin-top: 5px}
.news p{margin-left:20px;}

.serve_title {margin-left:20px;}
.serve_title i{display: inline-block;
    width: 20px;height: 50px;
    background:url(../images/point.png) no-repeat;
    background-position: 10px  15px;
}
.serve_title p{
    display: inline-block;
    width:100px;
    height:50px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
.serve_title p span{
    display: block;
    color: #67D0A7;

}
.text-big {font-size: 18px}
.serve_content {
    margin-left:20px;
    margin-top: 20px;
    width: 300px;
    height: 200px;

}
.serve_content li {
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px;
}
.serve_content li p{
    margin: 0 auto ;
    width:40px;
    height:40px;
    border: 2px solid #888989;
    border-radius: 20px;
    background:url(../images/wash.png) no-repeat;
    background-position: 12px  12px;
}
.serve_content li span {
    display: block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
}
.serve_content li:last-child span {
    width: 70px;
}
.serve_more {
    margin-left: 230px;
}
.serve_more a{
    color: #67D0A7;
}
.baidu_map{
    width: 560px;
    height: 420px;
    /*background:url(../images/map.png) no-repeat;*/
    margin-top: 30px;
    margin-left: 30px;
}
.map_search {
    width:180px;
    height: 300px;
    float: right;
    margin-top: -400px;
    margin-right: 100px;
    /*padding-left: -30px;*/
}
.map_search ul li {
    width: 100px;
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
    border: 1px solid #67D0A7;
    border-radius: 6px;
}
.map_search ul li:last-child {
    color: #000;
    background-color: #67D0A7 ;
}
.banner_img {
    width: 1200px;
    height: 390px;
    margin-left: 35px;
    margin-top: 10px;
    z-index: 1;
}
.banner_img img{
    display: block;
    width: 1200px;
    height: 365px;
    position: absolute;
    opacity: 1;
    top: 15px;
    border-radius: 20px 20px 20px 0;
}
.banner_icon {
    display: block;
    position: absolute;
    z-index: 10;
    top: 100px;
    right: 30px;
}
.banner_icon li {
    color: white;
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #67D0A7;
    border-radius: 4px;
}
.banner_icon li:hover{background-color: #67D0A7;
    cursor: pointer;}
.icon_active {
    background-color: #67D0A7;
}

.share{margin-top:50px; }